
<div class="container1 ">


      <button type="button" class="btn btn-warning " style="display:inline-block" >
        <span><i class="fas fa-cloud-upload-alt "></i>Importer</span>
      </button>



      <button type="button" class="btn btn-success">
        <i class="fas fa-cloud-download-alt"></i>&nbsp;Exporter
      </button>


    <button type="button" class="btn btn-primary" > <!--(click)="bouttonNouveauClick()"-->
      <i class="fas fa-plus"></i>&nbsp;
      Nouveau
    </button>



</div>
