<!--
<div class="col">
  <div class="row m-3">
    <div class="col-md-8 p-0">
      <h1>Commande &lt;!&ndash;{{origin}}&ndash;&gt;s</h1>
    </div>
    <div class="col-md-4 text-right">
      <app-boutton-action>
        &lt;!&ndash;[isImporterVisible]="false"

        (clickEvent)="nouvelleCommande()"&ndash;&gt;
      </app-boutton-action>
    </div>
  </div>
  <div class="col m-3" >
    <div class="accordion" id="accordionExample">  &lt;!&ndash;*ngFor="let cmd of listeCommandes"&ndash;&gt;
      <div class="card">
        <div class="card-body" id="headingOne">
          <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                  [attr.data-target]="'#collapseOne'"
                  aria-expanded="true"
                  aria-controls="collapseOne"> &lt;!&ndash;+cmd.id&ndash;&gt;
            <app-detail-cmd-clt-frs>
              &lt;!&ndash;[commande]="cmd"
              [origin]="origin"&ndash;&gt;
            ></app-detail-cmd-clt-frs>
          </button>
        </div>
        &lt;!&ndash;{{cmd.id}}&ndash;&gt;
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample"
             style="max-height: 300px;
        overflow-y: scroll">
          <div class="card-body">
            <app-detail-cmd

            >
              &lt;!&ndash; *ngFor="let ligne of mapLignesCommande.get(cmd.id)"
              [ligneCommande]="ligne"&ndash;&gt;
            </app-detail-cmd>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-md-6 text-left">
              <h5>&lt;!&ndash;{{mapLignesCommande.get(cmd.id).length}}&ndash;&gt; lignes de commande</h5>
            </div>
            <div class="col-md-6 text-right">
              <h5>Total commande: &lt;!&ndash;{{ calculerTotalCommande(cmd.id) }}&ndash;&gt;</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3" >&lt;!&ndash;*ngIf="listeCommandes.length"&ndash;&gt;
    <div class=" col-md-12 text-center">
      <app-pagination></app-pagination>
    </div>
  </div>

</div>
-->
<div class="col">
  <div class="row m-2">
    <div class="col-md-8 p-0">
      <h4>Commande  <!-- &lt; !&ndash; -->{{origin}} <!--&ndash; &gt;s--></h4>
    </div>
    <div class="col-md-4 text-right">

      <app-boutton-action

        [isImporterVisible]="false"
        (clickEvent)="nouvelCommande()"
      ></app-boutton-action>
    </div>
    <!-- <div class="alert alert-danger" *ngIf="errorMsg">
       {{ errorMsg }}
     </div>-->
  </div>
  <div class="col m-3">
    <!-- <app-detail-article
       *ngFor="let article of listArticle"
       [articleDto]="article"
       (suppressionResult)="handleSuppression($event)"
     >
     </app-detail-article>-->

  </div>
  <div class="card  ">
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item m-3">
        <div class="accordion-header" id="flush-headingOne">
          <div class="" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
               aria-controls="flush-collapseOne">
            <app-detail-cmd-clt-frs></app-detail-cmd-clt-frs>
          </div>

        </div>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
             data-bs-parent="#accordionFlushExample" style="max-height: 150px; overflow-y: scroll;">
          <div class="accordion-body ">
            <app-detail-cmd></app-detail-cmd>
          </div>
        </div>
      </div>


    </div>
  </div>
  <div class="row mb-3">
    <!--*ngIf="listArticle.length"-->
    <div class=" col-md-12 text-center">

      <app-pagination></app-pagination>
    </div>
  </div>

</div>
