<div class="container my-container">
  <div class="card">
    <div class="card-header text-center">
      <h4>S'inscrire </h4>

    </div>
    <div class="card-body">
      <div class="mb-3">
        <input type="text" placeholder="nom" class="form-control">
      </div>
      <div class="mb-3">
        <input type="text" placeholder="Code fiscal" class="form-control">
      </div>
      <div class="mb-3">
        <input type="email" placeholder="email" class="form-control">
      </div>
      <div class="mb-3">
        <input type="text" placeholder="adress1" class="form-control">
      </div>
      <div class="mb-3">
        <input type="text" placeholder="adress2" class="form-control">
      </div>
      <div class="mb-3">
        <input type="text" placeholder="ville" class="form-control">
      </div>
      <div class="mb-3">
        <input type="text" placeholder="code postal" class="form-control">
      </div>
      <div class="mb-3">
        <input type="text" placeholder="pays" class="form-control">
      </div>
      <div class="mb-3">

        <input type="password" placeholder="mot de passe" class="form-control">
      </div>
      <div class="mb-3">

        <input type="password" placeholder="confirmer mot de passe" class="form-control">
      </div>

      <div class="mb-3 d-flex justify-content-around">
        <a [routerLink]="['/login']" class="btn btn-link" >Se connecter</a>
        <button class="btn btn-primary" type="submit">
          <i class="fa-solid fa-check "></i> &nbsp; inscription
        </button>


      </div>
    </div>
  </div>

</div>

