/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
body{
  background-color: aliceblue;
}
.background-grey{
  background-color: aliceblue;
}
.border-none{
  border: none !important;
}
.min-height-80{
  min-height: 10vh;
}
