<div class="col mb-3">
  <div class="col-md-12 mb-3 mt-3">
    <button  style="background-color: transparent; border: none;"><!--(click)="fileInput.click()"-->
      <img  src="assets/product.png" class="rounded-circle" width="100px" height="100px" /><!--[src]="imgUrl" -->
      <input hidden type="file" ><!--#fileInput (change)="onFileInput(fileInput.files)"-->
    </button>
  </div>
  <hr>
  <div class="col-md-12">
    <div class="col-md-12 mb-3">
      <h4><i class="fas fa-info-circle blue-color"></i>&nbsp;Information d'utilisateur</h4>
    </div>
    <div class="col-md-12">
      <!--<div class="alert alert-danger"> &lt;!&ndash;*ngIf="errorMsg.length > 0"&ndash;&gt;
        <div >&lt;!&ndash;*ngFor="let msg of errorMsg"&ndash;&gt;
          <span >&lt;!&ndash;{{msg}}&ndash;&gt;</span>
        </div>
      </div>-->
      <form>
        <div class="row mb-3">
          <div class="col">
            <input type="text" class="form-control" name="codearticle" placeholder="Nom" ><!--[(ngModel)]="articleDto.codeArticle"-->
          </div>
          <div class="col">
            <input type="text" class="form-control" name="designation" placeholder="Adress 1" ><!-- [(ngModel)]="articleDto.designation"-->
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <input type="text" class="form-control" name="prixunitht" placeholder="Prenom"
            ><!--(input)="calculerTTC()"
                   [(ngModel)]="articleDto.prixUnitaireHt"-->
          </div>
          <div class="col">
            <input type="text" class="form-control" name="tauxtva" placeholder="Adress 2"
            ><!--(input)="calculerTTC()"
                   [(ngModel)]="articleDto.tauxTva"-->
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <input type="text" class="form-control" name="prixunitttc" placeholder="Email"  ><!--[(ngModel)]="articleDto.prixUnitaireTtc"-->
          </div>
          <div class="col">
            <input type="text" class="form-control" name="prixunitttc" placeholder="Ville"  ><!--[(ngModel)]="articleDto.prixUnitaireTtc"-->
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <input type="text" class="form-control" name="prixunitttc" placeholder="Telephone"  ><!--[(ngModel)]="articleDto.prixUnitaireTtc"-->
          </div>
          <div class="col">
            <input type="text" class="form-control" name="prixunitttc" placeholder="Code postal"  ><!--[(ngModel)]="articleDto.prixUnitaireTtc"-->
          </div>
        </div>
        <div class="row mb-3">
          <div class="col mb-3">
          </div>
          <div class="col mb-3">
            <input type="text" class="form-control" name="prixunitttc" placeholder="Pays"  ><!--[(ngModel)]="articleDto.prixUnitaireTtc"-->
          </div>

        </div>
      </form>
    </div>
  </div>
  <div class="col-md-12 text-end">
    <button class="btn btn-danger mr-3" (click)="cancel()">
      <i class="fas fa-ban"></i>&nbsp;
      Annuler
    </button>
    <button class="btn btn-primary" (click)="enregistrerArticle()">
      <i class="fas fa-save"></i>&nbsp;
      Enregitrer
    </button>
  </div>

</div>


