<div class="main-container">
  <div class="row min-height-70vh no-flex-wrap">
    <div class="card  col-md-2 ms-0 width-30" >
      <div>
        <h4>gestion du stock</h4>
        <br>
      </div>
      <div>
        <app-menu></app-menu>
      </div>
    </div>
    <div class="card  col-md-10 ms-2 background-grey border-none ">
      <div class="col px-0 d-flex flex-column justify-content-between">
        <div class="card  min-height-80">
          <app-header></app-header>
        </div>
        <div class="card  min">

          <router-outlet></router-outlet>
        </div>
        <div class="card min-height-80">
          footer
        </div>
      </div>
    </div>

  </div>
</div>


